div(ng-include='"components/navbar/navbar.html"')
.container
  leaflet(defaults="defaults", center="center", layers="layers", height="480px", width='100%')
  hr
  #map-options
    .row
      form.form-horizontal(ng-submit="searchTwitter()" ng-disabled="!text.trim()")
        .input-group
          input#search-terms.form-control(type='text', ng-model='text', autofocus, placeholder='Twitter Search Terms')
          span.input-group-btn
            input#search-btn.btn.btn-default(type='submit', value='{{searchText}}' ng-disabled="!text.trim()")
      small Please use a | to separate search criteria.
    br
    
    .row
      button.btn.btn-default(ng-click='clear()') Clear Results
    .row
      {{err}}