div(ng-include='"components/navbar/navbar.html"')

.container-fluid
  .row
    .col-xs-12
      #chart(google-chart, chart="chart", on-ready="chartReady()")
  .row.white-text
    .col-xs-12
      p Sentiments: {{sentiments}}
      p Average Sentiment: {{averageSentiment}}
  .row.white-text(ng-show="stockPrices")
    .col-xs-12
      h1 Stock Prices
  .row.white-text(ng-show="stockPrices")
    .col-md-4(ng-repeat="stockPrice in stockPrices")
      h3 {{stockPrice.Name}} ({{stockPrice.Symbol}})
      p Price: {{stockPrice.LastPrice}} (Low: {{stockPrice.Low}}, High: {{stockPrice.High}})
  .row
    .col-xs-12
      h1.white-text Most Recent Messages
  .box-color
    .row(ng-repeat="recentMessage in recentMessages")
      .col-lg-12
        p {{recentMessage.message}} - {{recentMessage.sentiment}}